*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}
:root{
    --color-line: #1CE5B0;

}
.Atributos{
    display: flex;
    flex-direction: column ;
    height: 100vh;
    width: 100%;
    background: url("../../Assets/images/plant-artibutos-left.png"),
                url("../../Assets/images/plant-artibutos-right.png"),
                url("../../Assets/images/fondo-booton-light.png"),
                #000000;
    background-repeat: no-repeat;
    background-position: left 0%,right 57%,10% 100%;
    background-size: 15% 70%,15% 70%,100% 20%;
    color: white;
    
}
.content-title{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: var(--color-line);
    .title{
        font-size: 2.3vw;
    }
}
.content-icon{
    padding-top: 6vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 80%;
    position: relative;
}
.iconos{
    position: relative;
    width:14vw;
    height: 24vw;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid var(--color-line);
    border-radius: 400px 400px ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 80%;
    }
    .barra{
        margin-top: 2vh;
        height: .5vh;
        border-radius: 8px;
        width: 75%;
        background: var(--color-line);
    }
    p{
    font-family:GtWalsheimBold;
    font-size: 1.5vw;
    }
}
.slider{
    .buttons{
        height: 100%;
    }
    .buttons>img{
        width: 4vw;
    }
}
